<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177174074358-if6s1tl06f4s3dl7fua913naej93u96f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177174074358-if6s1tl06f4s3dl7fua913naej93u96f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>177174074358-4mml609j5qu2gnn1u3gs7vmv1ob961ce.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEte1LD6RhjiMg4tBADeToZafgX0_soRM</string>
	<key>GCM_SENDER_ID</key>
	<string>177174074358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.renoteai.renoteiosapp</string>
	<key>PROJECT_ID</key>
	<string>renoteai-416904</string>
	<key>STORAGE_BUCKET</key>
	<string>renoteai-416904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177174074358:ios:69439dc3a008e2f10e2dd7</string>
</dict>
</plist>